h1,h2{
    color: slateblue;
}

.box p.done{
    color:firebrick;

} 
 
.list li{
    color:dodgerblue;
}

.list li.done{
    color:seagreen;
}
ul p.done{
    font-size: 0.75rem;
}
 